# Weekly Task 2 - Roller Coaster Loops
![wooo!](https://media.giphy.com/media/SNrC0OKr4YP2U/giphy.gif?cid=ecf05e47lnb8o893cghul7mragm4n7ric88y6ka94wp4r25f&rid=giphy.gif&ct=g)

Remember the rules of ~Fight~ Code Club:
1. ALWAYS DOCUMENT
2. Cite resources that you use (paste links)
3. Include the names people who you worked with
4. Be neat and organized

### 1.  Write a for loop that loops through your list of countries and does the following operations:
#### 1. If that country starts with the letter c, it prints the name of that country
#### 2. otherwise it adds 1 to a variable called "count"

In [195]:
listcountries=['Canada','U.S.A','Greece','Russia','France','Italy']
count=0
for i in listcountries:
    if i[0].lower()=='C': # www.w3schools.com
     print(i)
else:
    count+=1
print(count)

1

### 2.  Write a python script using a for loop and range function that prints numbers 20 through 160 by every 10 except 80.

In [126]:
for i in range(20,170,10):
    if i !=80:
        print(i)

20
30
40
50
60
70
90
100
110
120
130
140
150
160

### 3. Write a while loop that calculates celsius to farenheit from 0 up to and including 38 celsius (hint: (32°F − 32) × 5/9 = 0°C)

In [197]:
celcius=0
while celcius<=38:
    fahreneit=(9/5)*celcius+32
    print(f"{celcius} C is equal to {fahreneit} F") #www.w3schools.com
    celcius+=1

0 C is equal to 32.0 F
1 C is equal to 33.8 F
2 C is equal to 35.6 F
3 C is equal to 37.4 F
4 C is equal to 39.2 F
5 C is equal to 41.0 F
6 C is equal to 42.8 F
7 C is equal to 44.6 F
8 C is equal to 46.4 F
9 C is equal to 48.2 F
10 C is equal to 50.0 F
11 C is equal to 51.8 F
12 C is equal to 53.6 F
13 C is equal to 55.400000000000006 F
14 C is equal to 57.2 F
15 C is equal to 59.0 F
16 C is equal to 60.8 F
17 C is equal to 62.6 F
18 C is equal to 64.4 F
19 C is equal to 66.2 F
20 C is equal to 68.0 F
21 C is equal to 69.80000000000001 F
22 C is equal to 71.6 F
23 C is equal to 73.4 F
24 C is equal to 75.2 F
25 C is equal to 77.0 F
26 C is equal to 78.80000000000001 F
27 C is equal to 80.6 F
28 C is equal to 82.4 F
29 C is equal to 84.2 F
30 C is equal to 86.0 F
31 C is equal to 87.80000000000001 F
32 C is equal to 89.6 F
33 C is equal to 91.4 F
34 C is equal to 93.2 F
35 C is equal to 95.0 F
36 C is equal to 96.8 F
37 C is equal to 98.60000000000001 F
38 C is equal to 100.4 F

### 4. Write a script with a nested for loop that prints out every month and then prints out the total days of the month.

In [193]:
months=["January","February","March","April","May","June","July","August","September","October","November","December"]
days=[31,28,31,30,31,30,31,31,30,31,30,31]
for i in range(len(months)):
    print(f"{months[i]}: {days[i]} days")

January: 31 days
February: 28 days
March: 31 days
April: 30 days
May: 31 days
June: 30 days
July: 31 days
August: 31 days
September: 30 days
October: 31 days
November: 30 days
December: 31 days